body{
    text-align: center;
    color: rgb(10, 10, 10);
    background-color: rgb(250, 209, 226);
}

.titulo {
    font-family: monospace;
    color: rgb(0, 0, 0);
}

.subtitulo {
    font-family: monospace;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	background: linear-gradient(#ffa5f3, #ffe4fd);
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}
.animated-word {
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 600;
	font-size: 100px;
	text-align: center;
	color: #ffffff;
  cursor: pointer;
  max-width: 600px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(255, 0, 98, 0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
	color: rgba(255, 45, 175, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}
